@CHARSET "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

#hostel_logo {
	height: 200px;
	width: 150px;
	text-align: left;
	margin-top: 0px;
}

#title {
	width: 100%;
	border: 2px solid #a6a6a6;
	float: left;
	background-color: #00ae57;
}

#title img {
	height: 150px;
	width: 150px;
}

#title p {
	font-family: Tahoma;
	font-size: 20px;
	text-align: center;
}

#link {
	text-decoration: none;
	font-size: 18px;
	color: white;
}

#link_login {
	text-decoration: none;
	font-size: 25px;
	color: white;
}

/*-----------Rector Division------------*/
#rector {
	text-align: center;
	height: 350px;
	width: 400px;
	margin-left: 15px;
	border: 2px solid silver;
	background-image: url("image/index_hostel.jpg");
	float: left;
}

#email_rec_icon {
	height: 25px;
	width: 25px;
	padding-right: 20px;
	margin-top: 5px;
}

#password_rec_icon {
	height: 25px;
	width: 25px;
	padding-right: 20px;
	margin-top: 5px;
}

#form_rec {
	height: 200px;
	width: 300px;
	border: 2px solid white;
	margin-left: 48px;
	background-color: #232323;
	border-radius: 5px;
	opacity: 80;
	margin-top: 30px;
}

#form_rec table {
	margin-left: 20px;
	margin-top: 15px;
}

#login_rec {
	height: 25px;
	width: 70px;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	background-color: #0080c0;
	margin-left: 45px;
}

/* #rector :hover{
	text-align:center;
	height:500px;
	width:400px;
	margin-left:415px;
	border:2px solid white;
	float: left;
	background-color: #232323;
} */

/*-----------Student Division------------*/
#student {
	text-align: center;
	height: 350px;
	width: 400px;
	margin-left: 415px;
	border: 2px solid silver;
	float: left;
	background-image: url("image/index_student.jpg");
}

#form_stu {
	height: 200px;
	width: 300px;
	border: 2px solid white;
	border-radius: 5px;
	margin-left: 48px;
	background-color: #232323;
	opacity: 80;
	margin-top: 30px;
}

#login_stu {
	height: 25px;
	width: 70px;
	border: 1px solid white;
	border-radius: 7px;
	color: white;
	background-color: #008c46;
	margin-left: 45px;
}

#email_stu_icon {
	height: 25px;
	width: 25px;
	padding-right: 20px;
	margin-top: 5px;
}

#password_stu_icon {
	height: 25px;
	width: 25px;
	padding-right: 20px;
	margin-top: 5px;
}

#form_stu table {
	margin-left: 20px;
	margin-top: 15px;
}

/* #student :hover{
	text-align:center;
	height:500px;
	width:400px;
	margin-left:415px;
	border:2px solid white;
	float: left;
	background-color: #232323;
}

 */

/*-----------Rector Registration-----------*/
#rec_icon {
	height: 20px;
	width: 20px;
}

#title_rec{
	background-color: #008c46;
}

#form_rec_registration{
	height:400px;
	width:600px;
	margin-left:450px;
	padding-top:10px;
	padding-left:20px;
	border: 3px solid #232323;
	background-image:linear-gradient(to top,#c0c0c0,#3b3b3b) ;
}

/*-----------Student Registration-----------*/
#stu_icon {
	height: 20px;
	width: 20px;
}

#form_stu_registration{
	height:400px;
	width:600px;
	margin-left:450px;
	padding-top:10px;
	padding-left:20px;
	border: 3px solid #232323;
	background-image:linear-gradient(to top,#3b3b3b,#c0c0c0) ;
	
}


#title_stu{
	background-color: #008c46;
}


